plugins {
    id 'nf-amazon'
}

process {
    withName:FASTQC {
        container = '791141132915.dkr.ecr.us-east-2.amazonaws.com/fastqc'
        memory = '8 GB'
        cpus = 4
    }
    withName:RRNA_QUANT {
        container = '791141132915.dkr.ecr.us-east-2.amazonaws.com/rrna_quant'
        memory = '8 GB'
        cpus = 4
    }
    withName:STAR_ALIGN {
        container = '791141132915.dkr.ecr.us-east-2.amazonaws.com/star:2.6.1a--1'
        memory = '32 GB'
        cpus = 14
    }
    withName:MARK_DUPS {
        container = '791141132915.dkr.ecr.us-east-2.amazonaws.com/picard'
        memory = '8 GB'
        cpus = 4
    }
    withName:REM_DUPS {
        container = '791141132915.dkr.ecr.us-east-2.amazonaws.com/picard'
        memory = '8 GB'
        cpus = 4
    }
    withName:STRINGTIE {
        container = '791141132915.dkr.ecr.us-east-2.amazonaws.com/stringtie'
        memory = '8 GB'
        cpus = 4
    }
    withName:STRINGTIE_DEDUP {
        container = '791141132915.dkr.ecr.us-east-2.amazonaws.com/stringtie'
        memory = '8 GB'
        cpus = 4
    }
    withName:POST_PROCESSING {
        container = '791141132915.dkr.ecr.us-east-2.amazonaws.com/post_processing'
        memory = '8 GB'
        cpus = 4
    }

}

profiles {
  standard {
    docker.enabled = true
  }

  batch {
    docker.enabled = true
    aws.region = 'us-east-2'
    process.executor = 'awsbatch'
    process.queue = 'job-queue'
    aws.batch.cliPath = '/usr/local/aws-cli/v2/current/bin/aws'
  }
}

