plugins {
    id 'nf-amazon'
}

process {
    withName:FASTQC {
        container = '791141132915.dkr.ecr.us-east-2.amazonaws.com/fastqc'
        memory = '8 GB'
        cpus = 4
    }
    withName:RRNA_QUANT {
        container = '791141132915.dkr.ecr.us-east-2.amazonaws.com/rrna_quant'
        memory = '8 GB'
        cpus = 4
    }
    withName:STAR_ALIGN {
        container = '791141132915.dkr.ecr.us-east-2.amazonaws.com/star:2.6.1a--1'
        memory = '36 GB'
        cpus = 8
    }
    withName:MULTIQC {
        container = '791141132915.dkr.ecr.us-east-2.amazonaws.com/multiqc'
        memory = '8 GB'
        cpus = 4
    }

}

profiles {
  standard {
    docker.enabled = true
  }

  batch {
    docker.enabled = true
    aws.region = 'us-east-2'
    process.executor = 'awsbatch'
    process.queue = 'job-queue'
    aws.batch.cliPath = '/usr/local/aws-cli/v2/current/bin/aws'
  }
}

